@import "tailwindcss";

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: rubik;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
  font-family: rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fef5cc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1747e7;
  text-decoration: inherit;
}
a:hover {
  color: #1747e7;
}

/* Candy Theme */
@theme {
  --color-candy-red: #f75b2b;
  --color-candy-yellow: #ffe87e;
  --color-candy-yellow-sharp: #f7bd1d;
  --color-candy-yellow-warm: #fad966;
  --color-candy-blue: #1747e7;
  --color-candy-teal: #04bfa4;
  --color-candy-blue-sky: #c5c6ff;
  --color-candy-tan: #fef5cc;
  --color-candy-green-light: #6cbd45;
  --color-candy-pink: #ffa9e8;
  --color-candy-pink-strawberry: #ff829d;
  --color-candy-green-M: #7b9d7c;
  --color-candy-milky: #fee9e8;
}

/* Arctic Theme */
@theme {
  --color-arctic-black: #040404;
  --color-arctic-white: #f9f9f9;
}
