@import "tailwindcss";

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: rubik;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
  font-family: rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fef5cc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --glass-blur: 20px;
  --glass-saturation: 180%;
  --glass-bg: rgba(218, 218, 218, 0.9);
  --glass-border: rgba(255, 255, 255, 0.871);
  --glass-shadow: rgba(122, 162, 247, 0.2);
  --glass-inset: rgba(255, 255, 255, 0.05);
  --glass-hover-shadow: rgba(122, 162, 247, 0.4);
  --glass-hover-inset: rgba(255, 255, 255, 0.1);
  --glass-grad1: #7b7a7a25;
  --glass-grad2: #70707027;
  --glass-text-color: #c0caf5;
  --glass-text-shadow: rgba(122, 162, 247, 0.6);
}

a {
  font-weight: 500;
  color: #1747e7;
  text-decoration: inherit;
}
a:hover {
  color: #1747e7;
}

/* Candy Theme */
@theme {
  --color-candy-red: #f75b2b;
  --color-candy-yellow: #ffe87e;
  --color-candy-yellow-sharp: #f7bd1d;
  --color-candy-yellow-warm: #fad966;
  --color-candy-blue: #1747e7;
  --color-candy-teal: #04bfa4;
  --color-candy-blue-sky: #c5c6ff;
  --color-candy-tan: #fef5cc;
  --color-candy-green-light: #6cbd45;
  --color-candy-pink: #ffa9e8;
  --color-candy-pink-strawberry: #ff829d;
  --color-candy-green-M: #7b9d7c;
  --color-candy-milky: #fee9e8;
}

/* Arctic Theme */
@theme {
  --color-arctic-black: #040404;
  --color-arctic-white: #f9f9f9;
}

@import "tailwindcss";

@layer utilities {
  .glass-base {
  display: flex;
  font-weight: 600;
  overflow: hidden;
  height: fit-content;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  }

  .glass-bg {
      z-index: 0;

      backdrop-filter: blur(3px);
      filter: url(#glass-distortion);
      overflow: hidden;
  }

  .glass-border {
    border: 1px solid var(--glass-border, rgb(255, 255, 255));
  }

  .glass-shadow {
    box-shadow:
      0 0 20px var(--glass-shadow, rgba(122, 162, 247, 0.2)),
      inset 0 0 15px var(--glass-inset, rgba(255, 255, 255, 0.05));
  }

  .glass-hover:hover {
    box-shadow:
      0 0 25px var(--glass-hover-shadow, rgba(122, 162, 247, 0.4)),
      inset 0 0 25px var(--glass-hover-inset, rgba(255, 255, 255, 0.1));
  }

  /* .glass-gradient {
    background: linear-gradient(
      49deg,
      var(--glass-grad1, #e2e5eb4d),
      var(--glass-grad2, rgba(255, 255, 255, 0.19))
    );
  } */

  .glass-btn-shadow {
    box-shadow:
      0 4px 15px var(--glass-btn-shadow, rgba(122, 162, 247, 0.25)),
      inset 0 0 20px var(--glass-btn-inset, rgba(255, 255, 255, 0.1));
  }

  .glass-btn-hover:hover {
    background: linear-gradient(
      145deg,
      var(--glass-btn-hover-grad1, rgba(122, 162, 247, 0.3)),
      var(--glass-btn-hover-grad2, rgba(255, 255, 255, 0.19))
    );
    box-shadow:
      0 6px 20px var(--glass-btn-hover-shadow, rgba(122, 162, 247, 0.45)),
      inset 0 0 25px var(--glass-btn-hover-inset, rgba(184, 183, 183, 0.2));
    transform: scale(1.05);
  }

  .glass-btn-active:active {
    transform: scale(0.95);
    box-shadow:
      0 2px 10px var(--glass-btn-active-shadow, rgba(122, 162, 247, 0.4)),
      inset 0 0 10px var(--glass-btn-active-inset, rgba(255, 255, 255, 0.1));
  }

  .glass-text {
    z-index: 3;
    font-size: 2rem;
    color: black;
  }
}
